* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
	width: 360px;
	margin: 6% auto;
	
	background-color: #f7f7f7;
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}

.complete{
	text-decoration: line-through; color: gray;
}
h1{
    width: 100%;
	background-color: #2980b9;
	color: white;
	margin: 0;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: normal;


}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
body {font-family: "Roboto", sans-serif;
	background: #E6DADA;  
	background: -webkit-linear-gradient(to right, #274046, #E6DADA);
	background: linear-gradient(to right, #274046, #E6DADA);
}
li{
	background-color: white;
	height: 40px;
	line-height: 40px;
	color: #666;
}
li:nth-child(even){
	background-color: #f7f7f7;
}
input{
	font-size: 18px;
	background-color: #f7f7f7;
	width: 100%;
	padding: 13px 13px 13px 20px;
	border: none;
}
input:focus{
	background-color: #fff;
	outline: none;
	border: 3px solid #2980b9;
}
.fa-atom{
	float: right;

}
span{
	background-color: #e74c3c;
	color: white;
	height: 40px;
	margin-right: 20px;
	text-align: center;
	width: 0px;
	display: inline-block;
	transition: 0.2s linear;
	opacity: 0;
}
li:hover span{
	width: 40px;
	opacity: 1;
}
